@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Passion+One:wght@400;700;900&display=swap');

body {
    overflow: hidden;
   margin: 0;
   padding: 0;
}


.home-container {
    min-height: 100vh;
    
}
.navbar {
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px, 10px, 10px, 10px, #000000;
}
h1 {
    font-family: 'Passion One', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    position: relative;
} 

 /* .home-container p {
     font-size: 1.1rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -250px;
    color: white;
    
}  */

.uppercase {
    text-transform: uppercase;
}

@keyframes animationScale {
    from { transform: scale(1.1);}
    to { transform: scale(1);}
}

.hero-image {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px; 
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    animation-name: animationScale;
    animation-duration: 6s;
    overflow: hidden;
}

#menu {
    min-height: 100%;
    width: 600px;
    background-color: rgba(0, 0, 0, .6);
    border: 15px solid rgba(255, 255, 255, .6);
    border-top: 0px;
    border-bottom: 0px;
    position: absolute;
    top: 0px;
    right: 100px;
}

#kim-menu {
    position: relative;
    z-index: 2;
    border: 15px solid rgba(0, 0, 0, .8);
    margin-top: 200px;
    margin-left: -200px;

}

#menu-name {
    font-size: 1.2rem;
    margin-left: -25px;
}
#menu-conversation {
    font-size: 1.1rem;
    padding-left: 80px;
    padding-right: 60px;
    margin-top: -300px;
    color: white;
}

#menu-answer {
    color: orangered;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 60px;
}

#menu-nr-answer {
    color: white;
    margin-left: -25px;
}

#menu-answer2 {
    color: orangered;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 60px;
    margin-top: -20px;
}

#menu-nr-answer2 {
    color: white;
    margin-left: -25px;
}

#menu-answer3 {
    color: orangered;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 60px;
    margin-top: -20px;
}

#menu-nr-answer3 {
    color: white;
    margin-left: -25px;
}



